.product_list_container {
    margin-top: var(--header-height);

}

.product_list_container .container .product_list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_pagination
{
    display: flex;
    justify-content: center;
}

.product_pagination a{
    text-decoration: none;
    color: var(--black-color);
    margin-left: 10px;
    font-size: 20px;
}

.product_pagination .active
{
    color: var(--red-title);
}

.change_page_btn
{
    background-color: var(--white-color);
    margin-left: 10px;
    font-size: 20px;
}
.change_page_btn .change_page_btn_img
{

}